In [8]:
>>> lst = ["easy", "simple", "cheap", "free"]
>>> lst[-1]
'free'
>>>

'free'

In [7]:
>>> lst = [3, 5, 7]
>>> lst.append(42)
>>> lst
[3, 5, 7, 42]
>>>

[3, 5, 7, 42]

In [6]:
>>> lst = [3, 5, 7]
>>> lst = lst.append(42)
>>> print(lst)
None
>>>

None

In [5]:
>>> cities = ["Hamburg", "Linz", "Salzburg", "Vienna"]
>>> cities.pop(0)
'Hamburg'
>>> cities
['Linz', 'Salzburg', 'Vienna']
>>> cities.pop(1)
'Salzburg'
>>> cities
['Linz', 'Vienna']
>>>

['Linz', 'Vienna']

In [4]:
>>> cities = ["Amsterdam", "The Hague", "Strasbourg"]
>>> cities.pop()
'Strasbourg'
>>> cities
['Amsterdam', 'The Hague']
>>>

['Amsterdam', 'The Hague']

In [3]:
>>> lst = [42,98,77]
>>> lst2 = [8,69]
>>> lst.append(lst2)
>>> lst
[42, 98, 77, [8, 69]]
>>>

[42, 98, 77, [8, 69]]

In [9]:
>>> lst = [42,98,77]
>>> lst2 = [8,69]
>>> lst.extend(lst2)
>>> lst
[42, 98, 77, 8, 69]
>>>

[42, 98, 77, 8, 69]

In [10]:
>>> lst = ["a", "b", "c"]
>>> programming_language = "Python"
>>> lst.extend(programming_language)
>>> print(lst)
['a', 'b', 'c', 'P', 'y', 't', 'h', 'o', 'n']

['a', 'b', 'c', 'P', 'y', 't', 'h', 'o', 'n']

['a', 'b', 'c', 'P', 'y', 't', 'h', 'o', 'n']

In [11]:
>>> lst = ["Java", "C", "PHP"]
>>> t = ("C#", "Jython", "Python", "IronPython")
>>> lst.extend(t)
>>> lst
['Java', 'C', 'PHP', 'C#', 'Jython', 'Python', 'IronPython']
>>>

['Java', 'C', 'PHP', 'C#', 'Jython', 'Python', 'IronPython']

In [12]:
>>> level = ["beginner", "intermediate", "advanced"]
>>> other_words = ["novice", "expert"]
>>> level + other_words
['beginner', 'intermediate', 'advanced', 'novice', 'expert']
>>>

['beginner', 'intermediate', 'advanced', 'novice', 'expert']

In [13]:
>>> L = [3, 4]
>>> L = L + [42]
>>> L
[3, 4, 42]
>>>

[3, 4, 42]

In [14]:
>>> L = [3, 4]
>>> L.append(42)
>>> L
[3, 4, 42]
>>> 
>>> 
>>> L = [3, 4]
>>> L.extend([42])
>>> L
[3, 4, 42]
>>>

[3, 4, 42]

In [16]:
>>> L = [3, 4]
>>> L += [42]
>>> L
[3, 4, 42]

[3, 4, 42]

In [ ]:
import time

n= 100000

start_time = time.time()
l = []
for i in range(n):
    l = l + [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append(i * 2)
print(time.time() - start_time)

In [ ]:
import time

n= 100000

start_time = time.time()
l = []
for i in range(n):
    l = l + [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l += [i * 2]
print(time.time() - start_time)

start_time = time.time()
l = []
for i in range(n):
    l.append(i * 2)
print(time.time() - start_time)